.fotogaleriaContainer {
    text-align: center;
}

.wrapperPhoto {
    overflow: hidden;
    display: inline-block;
    margin: .5em;
    width: 20%;
    position: relative;
}

.specificPhoto {
    transition: all .3s ease;
    cursor: pointer;
}

.fotogaleriaHeader {
    margin-bottom: 2em;
}

.zoomIcon {
    position: absolute;
    top: 40%;
    left: 45%;
}
