$font-color: white;



.menuContainer {
    position: fixed;
    z-index: 20;
    top: 0%;
    right: -2%;
    width: 500px;
    height: 380px;
}


.list {
    margin-right: 10%;
    text-align: right;
    position: absolute;
    width: 500px;
    height: 380px;
    top: 0;
}


.menuLi {
    list-style: none;

    color: $font-color;
    cursor: pointer;
    font: {
        weight: bold;
        size: 1.3em;
        family: 'Caveat Brush', cursive;
    }
}

.leaf1, .leaf2, .leaf3, .leaf4, .leaf5, .leaf6, .leaf7 {
    position: absolute;
    text-decoration: none;
}


.leaf1 {
    top: 8%;
    left: 10%;
    transform: rotate(5deg);
}
.leaf2 {
    top: 11%;
    left: 38%;
    transform: rotate(35deg);
}
.leaf3 {
    top: 33%;
    left: 16%;
    transform: rotate(-19deg);
}
.leaf4 {
    top: 21%;
    left: 59%;
    transform: rotate(22deg);
}
.leaf5 {
    top: 57%;
    left: 65%;
    transform: rotate(-54deg);
}
.leaf6 {
    top: 69%;
    left: 49%;
    transform: rotate(-57deg);
}
.leaf7 {
    top: 48%;
    left: 23%;
    transform: rotate(-43deg);
}
