$font-color: green;



.menuContainer {
    text-align: right;
}

.list {
    margin-right: 10%;
}

.wrapper {
    display: inline-block;
    margin: 1em 1em;
}

.smallWrapper {
    position: relative;
}

.menuLi {
    list-style: none;
    color: $font-color;
    cursor: pointer;
}
