$font-color: green;


.menuContainer {
    text-align: right;
}

.list {
    margin-right: 10%;
}

.menuLi {
    list-style: none;
    display: inline-block;
    margin: 1em 1em;
    color: $font-color;
    cursor: pointer;
}
