$text-color: #9a9a9a;



.oskolkeContainer {
    text-align: center;
    margin: 5em auto;
    p {
        width: 50em;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
}

.oskolkePhotoContainer {
    display: inline-block;
    margin: 0 1.5em;
    overflow: hidden;
    position: relative;
}

.oskolkePhotos {
    margin-bottom: 3em;
}

.oskolkePhoto {
    transition: all .3s ease;
    border-radius: 3px;
}

.zoom {
    position: absolute;
    top: 40%;
    left: 45%;
}

.ourPhilosophy {
    width: 46em;
    margin-left: auto;
    margin-right: auto;
}

.flowerIcon {
    vertical-align: middle;
    margin-right: 2em;
}

