.welcomeContactContainer {
    margin-top: 7em;
    width: 60%;
    margin-left: 20%;
}

.gpsContainer, .timeContainer, .mailContainer, .phoneContainer {
    width: 25%;
    display: inline-block;
}


.addressHeader, .openHeader, .mailHeader, .callHeader {
    margin: 0;
}

.addressHeader {
    color: #b73d2e;
}
.openHeader {
    color: #ea7b22;
}
.mailHeader {
    color: #046bb0;
}
.callHeader {
    color:#6da61b;
}

.address, .open, .mail, .call {
    font: {
        family: 'Kalam';
    }
}
