

.welcomeSmallContainer {
	position: relative;
	height: 52.9vw;
	background: {
		image: url('../../assets/cliparts/backgroun-1920x1024-Small.png');
		size: cover;
	}
	z-index: -1;
}

.background {
	max-width: 1920px;
	overflow: hidden;

}

.sun {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 15%;
	left: 10%;
	background-color: #FFDE00;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}

.cloud {
	position: absolute;
	top: -10%;
	right: 40%;
	width: 35vw;
}

.welcomeArticle {
	position: absolute;
	top: 38%;
	left: 5%;
}

.mouseIcon {
	position: absolute;
	bottom: 2%;
	left: 48%;
	animation: mouseIcon 1s ease-in-out infinite alternate;
}
 .cloudsLong {
	 margin-top: -3%;
 }








@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow:
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}

@keyframes mouseIcon {
	0% {bottom: .5%;}
	100% {bottom: 2%;}
}
