.welcomeContactContainer {
    margin-top: 7em;
    width: 70%;
    margin-left: 15%;
}

.gpsContainer, .timeContainer, .mailContainer, .phoneContainer {
    width: 20%;
    display: inline-block;
}


.addressHeader, .openHeader, .mailHeader, .callHeader, .taxHeader,.taxIcon  {
    margin: 0;
}

.addressHeader {
    color: #b73d2e;
}
.openHeader {
    color: #ea7b22;
}
.mailHeader {
    color: #046bb0;
}
.callHeader {
    color:#6da61b;
}
.taxHeader {
    color: #bbb800;
}

.address, .open, .mail, .call {
    font: {
        family: 'Kalam';
    }
}

.taxIcon {
    font: {
        size: 4em;
    }
    color: #bbb800;
}
.euro {
    vertical-align: -8px;
}
