.welcomeContainer {
	text-align: center;
	margin-bottom: 5em;
	z-index: 1;
}

.welcomeArticle {
	position: absolute;
	top: 38%;
	left: 5%;
}

.children {
	margin-top: 5em;
}

.introText {
	width: 50%;
	margin: 5em auto;
	font: {
		size: 1.5em;
	};
}

