$background: #ffffe1;
$hr-color:#237918;

.footerContainer {
    background: $background;
    text-align: right;
    overflow: hidden;
    p {
        color: #237918;
        margin-right: 1em;
    }
}
.footerLesinkovia {
    margin: 1em auto auto auto;
}
.line {

    border-top: .5px solid $hr-color;
    border-bottom: 0;
    margin:.8em;
}

.footerPolozky {
    width: 25em;
    margin:.8em;
    a {
        display: inline-block;
        color: #237918;
        margin: .3em;
        width: 10em;
        font: {
            size: .7em;
            family: 'Rubik', sans-serif;
        }
        cursor: pointer;
        text-decoration: none;
    }
}
.copyright {
    text-align: center;
    font: {
        size: .8em;
    }
    margin-bottom: 9em;
}
