.GalleryZoomContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.801);
}



.photoContainer {
    position: absolute;
    top: 8%;
    width: 65%;
    left: 17.5%;
}

.zoomedPhoto {
    width: 80%;
}

.arrowLeft, .arrowRight {
    cursor: pointer;
}




@media (max-width: 1200px) {
    .photoContainer {
        width: 80%;
        left: 10%;
    }
    .zoomedPhoto {
        width: 75%;
    }
}

@media (max-width: 850px) {
    .photoContainer {
        width: 90%;
        left: 5%;
    }

    .zoomedPhoto {
        width: 70%;
    }

    .arrowLeft, .arrowRight {
        width: 45px;
    }
}

@media (max-width: 500px) {
    .zoomedPhoto {
        width: 95%;
    }
}

@media (max-width: 400px) {
    .GalleryZoomContainer {
        left: -10%;
        width: 120%;
    }
}
