h1 {
    font-family: 'Concert One', cursive;
    font-size: 3em;
    color: #2196f3;
    text-align: center;
}
p {
    font-family: 'Rubik', sans-serif;
    word-spacing: .4em;
    letter-spacing: .03em;
    color: #9a9a9a;
}
